#menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    right: 0;
    left: 0;
    overflow: auto;
    width: 42.1%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

#menu li {
    list-style: none;
    float: left;
    margin-right: 0.4em;
}

#menu a {
    display: block;
    width: 12em;
    line-height: 2em;
    height: 2em;
    color: white;
    background-color: #67B3DD;
    text-decoration: none;
    text-align: center;
    transition: .3s background-color;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

#menu a:hover {
    background-color: #FFFFFF;
    color: black;
    border-bottom: 1px solid #888;
    border-top: 1px solid #888;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
}

div.items p:not(:target) {display: none}
div.items p:target {display: block}